*{
    padding:0;
    margin:0;
    list-style-type:none;
    text-decoration: none;
    outline: none;
}
body{
    width:100%;
    height:100%;
    font-family:"PingFangSC-Regular";
}

nav{
    width:100%;
    height: .9rem;
    padding: 0 .5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#323232;
    .return {
        height: 100%;
        width: 0.5rem;
        display: flex;
        align-items: center;
        a{
            display: flex;
            height: .4rem;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            img {
                height: .4rem;
            }
        }
       
    }
    .title-info {
        font-size: .35rem;
        color: white;
    }
    .spot {
        width: .54rem;
        height: .08rem;
        display: flex;
        img {
            width: .54rem;
            height: .08rem;
        }
    }
}

main {
    width:100%;
    position: absolute;
    top: .9rem;
    bottom: 1rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.main-comment-info{
    width:100%;
    height:4.36rem;
    padding:.44rem .42rem 0 .5rem;
    box-sizing: border-box;

    .main-top{
        width:100%;
        height:1.02rem;
        display: flex;
        align-items: center;
        .main-headPortrait{
            width:1.02rem;
            height:1.02rem;
            padding-right:.14rem; 
            display: flex;
            img{
                width:1.02rem;
                height:1.02rem; 
                border-radius: 50%;
            }
        }

        .main-recollections{
            flex-grow:1;

            .main-recollections-title{
                font-size: .3rem;
                color:#5a6e96;
                padding-bottom:.24rem;
            }

            .main-recollections-score{
                width:1.34rem;
                height:.22rem;
                display: flex;
                .atar_Show{                      
                    width:1.34rem;
                    height:.19rem;
                    padding-right:.16rem;
                   ul{
                        width:1.34rem;
                        height:.19rem;
                        display: flex;
                       li{
                            width:.2rem;
                            height:.19rem;
                            display: flex;
                           img{
                                width:.2rem;
                                height:.19rem;
                           }
                       }
                       li:not(:last-child){
                           margin-right:.08rem;
                       }
                   }                      
                    
                }
                span{
                    display:flex; 
                    align-items: center;
                    font-size: .24rem;
                    color:#fea54c; 
                }
                
                
            }

            .clearfix::after{ 
                display:block; 
                content:''; 
                height:0; 
                overflow:hidden; 
                clear:both;
            } 

            .article-recollections-score{
                width:100%;
                height:.22rem;
                display: flex;
                align-items: center;
        
                span {
                    display:flex;
                    align-items: center;
                    font-size: .24rem;
                    color:#fea54c;
                }
                .score_Show {
                    width:1.4rem;
                    height: .2rem;
                    background: url(../img/header-star-null.png)repeat-x;
                    background-size:.28rem .2rem;                                
                    position: relative;
        
                    p {
                        width:1.4rem;
                        height:.2rem;
                        background: url(../img/header-star.png)repeat-x;
                        background-size:.28rem .2rem;
                        left: 0;
                        
                    }
                }
            } 

           
        }
        .main-more{
            width:.3rem;
            height:.09rem;
            display: flex;
            align-self: flex-start;
            padding-top:.08rem;
            position: relative;
            .spot-img{
                display: flex;
                width:.3rem;
                height:.09rem;
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
                
                img{
                    width:.3rem;
                    height:.09rem;
                }
            }
            // 遮罩层
            .eject-wrap{
             
                width:1.6rem;
                height:2rem;
                background:rgba(96,96,96,0.5);
                display:none;
                position: absolute;
                top:.2rem;
                right:.3rem;
                // z-index:9999;

                // 点击弹出
                .popup{
                  
                    width:1.6rem;
                    height:2rem;
                    font-size: .3rem;
                   color: red;
                    .popup-info{
                        width:100%;
                        height:1rem;
                        line-height: 1rem;
                        text-align: center;
                    }
                    .close{
                        width:100%;
                        height:1rem;
                        line-height: 1rem;
                        text-align: center;
                    }
                }

            }
        }

    }

    .main-content{
        width:100%;
        height:1.68rem;
        padding:.28rem 0 .26rem 0;

        .main-content-info{
            width:100%;
            height:1.68rem;
            font-size: .28rem;
            color:#2f3235;
            line-height: .42rem;
            overflow:auto;
        }
    }
    .main-bottom{
       width:100%;
       height:.26rem;
        display: flex;
        justify-content:space-between;
        align-items: center;
       .main-bottom-time{
        //    width:1.6rem;
            font-size: .24rem;
            color:#9a9a9a;
            display: flex;
            .main-time-data{
                padding-right:.26rem;
            }
        }

        .main-bottom-right{
            width:1.68rem;
            height:.26rem;
            font-size: .24rem;
            color:#9a9a9a;
            display: flex;
            align-items: center;
            padding-right:.24rem;
            // box-sizing: border-box;
            position: relative;

            .main-bottom-fabulous{
                height:.24rem;
                display: flex;
                align-items: center;
                margin-right: .38rem;
                box-sizing: border-box;

                .main-fabulous-img{
                    width:.25rem;
                    height:.24rem;
                    display: flex;
                    padding-right:.12rem;
                    cursor: pointer;
                    
                    img{
                        width:.25rem;
                        height:.24rem;
                        display:block;
                    }

                    img.animation{
                        animation: myfirst 0.5s;
                        -moz-animation: myfirst 0.5s;	/* Firefox */
                        -webkit-animation: myfirst 0.5s;	/* Safari 和 Chrome */
                        -o-animation: myfirst 0.5s;	/* Opera */
                    }
                }

                .add-num{
                    display:none;
            
                    .add-animation{
                        color: #000;
                        position:absolute;
                        top:-.2rem;
                        left: .1rem;
                        font-size: .15rem;
                        opacity: 0;
                        filter: Alpha(opacity=0);
                        -moz-opacity:0;
                        animation: mypraise 0.5s ;
                        -moz-animation: mypraise 0.5s ;	/* Firefox */
                        -webkit-animation: mypraise 0.5s ;	/* Safari 和 Chrome */
                        -o-animation: mypraise 0.5s ;	/* Opera */
                        font-style:normal;
                    }
                }

                .praise-txt.hover{
                    color: #EB4F38;
                }
            
                /*点赞图标放大动画开始*/
            
                @-webkit-keyframes myfirst 
                {
                    0%{
                        width:.25rem;
                        height:.24rem;
                    }
                    50%{
                        width:.35rem;
                        height:.34rem;
                    }
                    100% {
                        width:.24rem;
                        height:.25rem
                    }
                }                  
            
                /*点赞图标放大动画结束*/
                /*点赞数量加减动画开始*/
            
                @-webkit-keyframes mypraise
                {
                    0%{
                        top:-.15rem;
                        opacity: 0;
                        filter: Alpha(opacity=0);
                        -moz-opacity:0;
                    }
                    25%{
                        top:-.20rem;
                        opacity: 0.5;
                        filter: Alpha(opacity=50);
                        -moz-opacity:0.5;
                    }
                    50%{
                        top:-.25rem;
                        opacity: 1;
                        filter: Alpha(opacity=100);
                        -moz-opacity:1;
                    }
                    75%{
                        top:-.30rem;
                        opacity: 0.5;
                        filter: Alpha(opacity=50);
                        -moz-opacity:0.5;
                    }
                    100% {
                        top:-.35rem;
                        opacity: 0;
                        filter: Alpha(opacity=0);
                        -moz-opacity:0;
                    }
                }
            
                /*点赞数量加减动画结束*/
                /*动态点赞结束*/
               
            }
            .main-bottom-comment{
                height:.24rem;
                display: flex;
                align-items: flex-start;
                .main-comment-img{
                    width:.25rem;
                    height:.24rem;
                    display: flex;
                    padding-right:.12rem;
                    img{
                        width:.25rem;
                        height:.24rem;
                    }
                }
                .main-comment-num{
                    height:.24rem;
                    line-height: .2rem;
                }
            }
        }

    }
}

.line{
    width:87%;
    height:.01rem;
    margin:0 auto;
    background:#e4e4e4;
}

.replyNumber{
    height:.26rem;
    line-height: .26rem;
    font-size: .28rem;
    color:#c6c6c6;
    padding:.52rem 0 .52rem .54rem;
}

section{
    width:100%;
    height:auto;
    .section-comment-info{
        width:100%;
        height:3.2rem;
        padding:.0 .42rem 0 .5rem;
        box-sizing: border-box;
    
        .section-top{
            width:100%;
            height:.7rem;
            display: flex;
            align-items: center;
            .section-headPortrait{
                width:.7rem;
                height:.7rem;
                padding-right:.14rem; 
                display: flex;
                img{
                    width:.7rem;
                    height:.7rem; 
                    border-radius: 50%;
                }
            }
    
            .section-recollections{
                height:.7rem;
                flex-grow:1;
    
                .section-recollections-title{
                    font-size: .3rem;
                    color:#1e2226;
                    padding-bottom:.24rem;
                    line-height: .72rem;
                }      
               
            }
            .section-more{
                width:.3rem;
                height:.09rem;
                display: flex;
                align-self: flex-start;
                padding-top:.08rem;
                position: relative;
                .section-spot-img{
                    display: flex;
                    width:.3rem;
                    height:.09rem;
                    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
                    
                    img{
                        width:.3rem;
                        height:.09rem;
                    }
                }
                // 遮罩层
                .section-eject-box{                   
                    width:1.6rem;
                    height:2rem;
                    background:rgba(96,96,96,0.5);
                    display:none;
                    position: absolute;
                    top:.2rem;
                    right:.3rem;

                    // 点击弹出
                    .section-popup{                      
                        width:1.6rem;
                        height:2rem;
                        font-size: .3rem;
                        color: red;
                        .section-popup-info{
                            width:100%;
                            height:1rem;
                            line-height: 1rem;
                            text-align: center;
                        }
                        .section-close{
                            width:100%;
                            height:1rem;
                            line-height: 1rem;
                            text-align: center;
                        }
                    }

                }
            }
    
        }
    
        .section-content{
            width:100%;
            height:1.68rem;
            padding:.28rem 0 .26rem 0;
    
            .section-content-info{
                width:100%;
                height:1.68rem;
                font-size: .28rem;
                color:#2f3235;
                line-height: .42rem;
                overflow:auto;
            }
        }
        .section-bottom{
           width:100%;
           height:.26rem;
           display: flex;
           justify-content:space-between;
           align-items: center;

           .section-bottom-time{
                font-size: .24rem;
                color:#9a9a9a;
                display: flex;

                .section-time-data{
                    padding-right:.26rem;
                }
            }
    
            .section-bottom-right{
                
                height:.26rem;
                font-size: .24rem;
                color:#9a9a9a;
                display: flex;
                align-items: center;
                padding-right:.24rem;
                box-sizing: border-box;
                position: relative;
                
                .section-bottom-fabulous{
                    height:.24rem;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    
                    .section-fabulous-img{
                        width:.25rem;
                        height:.24rem;
                        display: flex;
                        padding-right:.12rem;
                        cursor: pointer;
                        
                        img{
                            width:.25rem;
                            height:.24rem;
                            display:block;
                        }

                        img.animation{
                            animation: myfirst 0.5s;
                            -moz-animation: myfirst 0.5s;	/* Firefox */
                            -webkit-animation: myfirst 0.5s;	/* Safari 和 Chrome */
                            -o-animation: myfirst 0.5s;	/* Opera */
                        }
                    }

                    .add-num{
                        display:none;
                
                        .add-animation{
                            color: #000;
                            position:absolute;
                            top:-.2rem;
                            left: .1rem;
                            font-size: .15rem;
                            opacity: 0;
                            filter: Alpha(opacity=0);
                            -moz-opacity:0;
                            animation: mypraise 0.5s ;
                            -moz-animation: mypraise 0.5s ;	/* Firefox */
                            -webkit-animation: mypraise 0.5s ;	/* Safari 和 Chrome */
                            -o-animation: mypraise 0.5s ;	/* Opera */
                            font-style:normal;
                        }
                    }

                    .praise-txt.hover{
                        color: #EB4F38;
                    }
                
                    /*点赞图标放大动画开始*/
                
                    @-webkit-keyframes myfirst 
                    {
                        0%{
                            width:.25rem;
                            height:.24rem;
                        }
                        50%{
                            width:.35rem;
                            height:.34rem;
                        }
                        100% {
                            width:.24rem;
                            height:.25rem
                        }
                    }                  
                
                    /*点赞图标放大动画结束*/
                    /*点赞数量加减动画开始*/
                
                    @-webkit-keyframes mypraise
                    {
                        0%{
                            top:-.15rem;
                            opacity: 0;
                            filter: Alpha(opacity=0);
                            -moz-opacity:0;
                        }
                        25%{
                            top:-.20rem;
                            opacity: 0.5;
                            filter: Alpha(opacity=50);
                            -moz-opacity:0.5;
                        }
                        50%{
                            top:-.25rem;
                            opacity: 1;
                            filter: Alpha(opacity=100);
                            -moz-opacity:1;
                        }
                        75%{
                            top:-.30rem;
                            opacity: 0.5;
                            filter: Alpha(opacity=50);
                            -moz-opacity:0.5;
                        }
                        100% {
                            top:-.35rem;
                            opacity: 0;
                            filter: Alpha(opacity=0);
                            -moz-opacity:0;
                        }
                    }
                
                    /*点赞数量加减动画结束*/
                    /*动态点赞结束*/
                   
              
                }
            }   
        }
    }

    .section-comment-info:not(:last-child){
        margin-bottom:.5rem;
    }
}


footer{
    width:100%;
    height:1rem;
    background:#dadddc;
    position: fixed;
    right:0;
    left:0;
    bottom:0;
    .footer-content{
        width:100%;
        height:100%;
        font-size: .28rem;
        padding-left:.26rem;
        padding-right:.38rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input{
            width: 5.96rem;
            height: .72rem;
            font-size: .28rem;
            border: .01rem solid #c8cccc;
            color:#a8a8a8;
            text-indent: .3rem;
            letter-spacing: .02rem;
            border-radius: .12rem;
        }
        p{
            color:#279708;
        }
    }
   
}
